body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
	background-image: url("images/background.jpg");
    background-size: cover;
}

h1 {
    color: darkblue;
}

p {
    color: #333;
}
